@{
	Layout = "MiniMenu.cshtml";
}

<div class="row">
	<div class="col-md-12">
		<h1>The ViewData</h1>
		<p>This is from a Viewbag:</p>

		<i>@ViewData["Message"]</i> 
		<br />
		<i>@ViewData["Something"]</i>
	</div>
</div>